{% extends "base-site.html" %}

{% block page_content %}
  
<h1>Curriculum Vitae <a href="{{ STATIC_URL }}/files/Amy Shapiro - Curriculum Vitae.pdf">(PDF)</a> <small>(Updated August 26, 2013)</small></h1>

<h4>Education</h4>
<ul>
    <li>
        <span class="cv-date">2009-Present</span>
        <span>PhD, Anthropology, in process (Advanced to Candidacy May 4, 2012); Arizona State University, Tempe, AZ</span>
    </li>
    <li>
        <span class="cv-date">2007-2009</span>
        <span>MA, Anthropology; Arizona State University, Tempe, AZ    </span>
    </li>
    <li>
        <span class="cv-date">2001-2005</span>
        <span>BA, Honors in Anthropology; Yale University, New Haven, CT</span>
    </li>
</ul>
<hr/>
        
<h4>Publications</h4>
<ul>
    <li>
        <span class="cv-date">ND</span>
        <span>Clancy, K.H.B., Shapiro, A.E., Bribiescas, R.G. Transvaginal ultrasound is not associated with a stress response in healthy non-pregnant participants: preliminary results. PLOS ONE (submitted).</span>
    </li>
    <li>
        <span class="cv-date">2013</span>
        <span>Shapiro, A. E., Venkataraman, V.V., Fashing, P.J., Nguyen, N. Dietary variability yields novel dental microwear textures for geladas. Am J Phys Anthropol, 150 (S56): 251 (Abstract) (Poster)</span>
    </li>
    <li>
        <span class="cv-date">2012</span>
        <span>Shapiro, A. E. Determining sources of dental microwear texture variation in anthropoids. Am J Phys Anthropol, 147 (S52): 267. (Abstract) (Poster)</span>
    </li>
    <li>
        <span class="cv-date">2009</span>
        <span>Shapiro, A. E. Differences in cercopithecid communities in the African Plio-Pleistocene. Am J Phys Anthropol, 138 (S48): 235-236. (Abstract) (Poster)</span>
    </li>
</ul>
<hr/>
 
<h4>Honors, Grants, Fellowships</h4>
<ul>
    <li>
        <span class="cv-date">2013</span>
        <span>Sigma Xi, ASU Chapter minigrant ($500)</span>
    </li>
    <li>
        <span class="cv-date">2012-14</span>
        <span>Dean’s Advanced Scholarship, ASU ($18,000 per year)</span>
    </li>
    <li>
        <span class="cv-date">2012</span>
        <span>Elizabeth H. Harmon Research Endowment, Institute of Human Origins ($5,000)</span>
    </li>
    <li>
        <span class="cv-date">2012</span>
        <span>Donald H. Morris Award, School of Human Evolution and Social Change, ASU ($300)</span>
    </li>
    <li>
        <span class="cv-date">2011-12</span>
        <span>Graduate & Professional Student Association Research Support Program, ASU ($2,000)</span>
    </li>
    <li>
        <span class="cv-date">2011-12</span>
        <span>Graduate & Professional Student Association Jumpstart Award, ASU ($500)</span>
    </li>
    <li>
        <span class="cv-date">2011-12</span>
        <span>School of Human Evolution and Social Change Research Award, ASU ($2,000)</span>
    </li>
    <li>
        <span class="cv-date">2008</span>
        <span>NSF Graduate Research Fellowship, Honorable Mention</span>
    </li>
    <li>
        <span class="cv-date">2007-12</span>
        <span>Doctoral Recruitment Fellowship, ASU ($19,000 per year)</span>
    </li>
    <li>
        <span class="cv-date">2004</span>
        <span>Branford Richter Fellowship, Yale University ($1,000 )</span>
    </li>
    <li>
        <span class="cv-date">2004</span>
        <span>Gary Stein Fellowship, Yale University ($1,000)</span>
    </li>
</ul>
<hr/>
 
<h4>Field Projects</h4>
<ul>
    <li>
        <span class="cv-date">2010</span>
        <span>Academic Director, ASU South Africa Paleoanthropology Field School, Langebaanweg, South Africa. Project Director: Dr. Deano Stynder</span>
    </li>
    <li>
        <span class="cv-date">2009</span>
        <span>Teaching Associate, Hadar Field School, Hadar, Ethiopia. Project Director: Dr. Bill Kimbel</span>
    </li>
    <li>
        <span class="cv-date">2009</span>
        <span>Teaching Associate, Langebaanweg Internship, Langebaanweg, South Africa. Project Director: Dr. Deano Stynder</span>
    </li>
    <li>
        <span class="cv-date">2009</span>
        <span>Archaeological and Paleontological Survey, Western Cape, South Africa. Project Director: Dr. Kaye Reed</span>
    </li>
    <li>
        <span class="cv-date">2005</span>
        <span>Paleobotany and Geology Fieldwork, SW North Dakota. Project Director: Dan Peppe</span>
    </li>
    <li>
        <span class="cv-date">2004</span>
        <span>Paleontology and Geology Fieldwork, Western Crazy Mountain Basin, MT. Project Director: Dr. Jon Bloch</span>
    </li>
    <li>
        <span class="cv-date">2003</span>
        <span>Archaeological Field School, University of Colorado, Cañada Alamosa, NM & Bluff, UT</span>
    </li>
</ul>
<hr/>
 
<h4>Laboratory Projects</h4>
<ul>
    <li>
        <span class="cv-date">2004-2005</span>
        <span>Student Researcher and Research Assistant, Center for Reproductive Ecology, Yale University. Directed by Dr. Richard Bribiescas and Kathryn Clancy</span>
    </li>
</ul>
<hr/>
 
<h4>Teaching Appointments</h4>
<ul>
    <li>
        <span class="cv-date">2012</span>
        <span>Teaching Associate, ASM 246 (Human Origins) with Dr. Don Johanson, ASU</span>
    </li>
    <li>
        <span class="cv-date">2011</span>
        <span>Teaching Associate, Clinical Gross Anatomy, University of Arizona Medical School, with Dr. Rebecca Fisher</span>
    </li>
    <li>
        <span class="cv-date">2011</span>
        <span>Teaching Associate, ASM 301 (Peopling of the World) with Dr. Anne Stone, ASU</span>
    </li>
    <li>
        <span class="cv-date">2010</span>
        <span>Academic Director, ASU South Africa Paleoanthropology Field School, Langebaanweg, South Africa</span>
    </li>
    <li>
        <span class="cv-date">2010</span>
        <span>Teaching Associate, ASM 104 (Bones, Stones and Human Evolution) with Drs. Leanne Nash and Mark Spencer, ASU</span>
    </li>
    <li>
        <span class="cv-date">2009</span>
        <span>Teaching Associate, Hadar Field School, Hadar, Ethiopia with Dr. Kaye Reed</span>
    </li>
    <li>
        <span class="cv-date">2009</span>
        <span>Teaching Associate, Langebaanweg Internship, Langebaanweg, South Africa, with Dr. Deano Stynder</span>
    </li>
    <li>
        <span class="cv-date">2008-9</span>
        <span>Teaching Assistant, ASM 104 (Bones, Stones and Human Evolution) with Drs. Mark Spencer and Kim Hill, ASU</span>
    </li>
</ul>
<hr/>
 
<h4>Related Activities</h4>
<ul>
    <li>
        <span class="cv-date">2011-12</span>
        <span>Institute of Human Origins outreach team member </span>
    </li>
    <li>
        <span class="cv-date">2010-12</span>
        <span>Physical Anthropology approach representative, All Anthropology Graduate Students organization, ASU</span>
    </li>
    <li>
        <span class="cv-date">2010</span>
        <span>Institute of Human Origins Field Blogger</span>
    </li>
    <li>
        <span class="cv-date">2010</span>
        <span>Mentor to undergraduate anthropology major</span>
    </li>
    <li>
        <span class="cv-date">2008-13</span>
        <span>Graduate and Professional Students Association Grant Reviewer    </span>
    </li>
    <li>
        <span class="cv-date">2007-10</span>
        <span>Graduates in Earth, Life, and Social Sciences Symposium Organizer</span>
    </li>
</ul>
<hr/>
 
<h4>Professional Society Memberships</h4>
<ul>
    <li>
        <span class="cv-date">2011-2013</span>
        <span>American Association of Physical Anthropologists</span>
    </li>
</ul>
<hr/>
 
{% endblock %}
