{% extends "base-site.html" %}

{% block page_content %}
<p>
I am a doctoral student in Evolutionary Anthropology in the School of Human Evolution and Social Change and the Institute of Human Origins at Arizona State University.
</p>
  
<p>
My research interests include evolution, biogeography, paleoecology, and macroecological patterns in mammalian communities since the Miocene. My current research focuses on variation in occlusal molar microwear textures in African monkeys and its relationship to dietary breadth and seasonal variation in diet.
</p>

<a href="https://iho.asu.edu"><img height="80" width="300" src="{{ STATIC_URL }}/img/iho.png"/></a>
<a href="https://shesc.asu.edu"><img src="{{ STATIC_URL }}/img/shesc.png"/></a>

{% endblock %}
