{% extends "base-site.html" %}

{% block page_content %}

<h1>Research</h1>
<p>
I'm interested in broad scale patterns and processes that affect mammalian communities today and in the past. My doctoral research focuses on variation in occlusal molar microwear in African monkeys (Cercopithecidae)  as a way to understand dietary breadth and seasonal variation in diet through a method that can be used to explore these variables in fossil species.
</p>

<img src="{{ STATIC_URL }}/img/papio-ursinas.jpg"/>
 
<h4>Doctoral Committee</h4>
<ul>
<li><a href="https://webapp4.asu.edu/directory/person/57624">Kaye E. Reed</a> (ASU; Chair)</li>
<li><a href="https://webapp4.asu.edu/directory/person/748275">Gary T. Schwartz</a> (ASU)</li>
<li><a href="http://ungarlab.uark.edu">Peter S. Ungar</a> (UArk)</li>
</ul>
{% endblock %}
