<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>
			{% block base_title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width"/>
		<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico"/>
		{% block extra_head %}{% endblock %}
		{% block styles %}{% endblock %}
		{% block header_scripts %}{% endblock %}
    </head>
	<body>
		{% block body %}{% endblock %}
	</body>

		{% block scripts %}{% endblock %}
    </body>
</html>
